@import url("https://fonts.googleapis.com/css?family=Nanum+Pen+Script");
* {
  font-family: "Calibri Light", Courier, monospace;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Nanum Pen Script", cursive;
  color: rgb(216, 60, 12);
  padding: 30px;
  font-weight: 300;
}
h3 {
  color: rgb(16, 61, 173);
}

li {
  list-style: none;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightskyblue;
  width: 100%;
}
@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

.title {
  margin-left: 20px;
  width: 60vw;
  min-width: 150px;
}

nav ul {
  display: flex;
  width: 35vw;
  justify-content: space-around;
  flex-direction: row;
}
@media (max-width: 600px) {
  nav ul {
    display: flex;
    flex-direction: column;
  }
  nav ul li {
    padding: 10px;
  }
}

#container {
  max-width: 1000px;
  margin: 0px auto;
}

/* SECTIONS */
section {
  padding-top: 50px;
  margin-bottom: 50px;
}
#hero {
  padding-top: 180px;
  padding-right: 50px;
  padding-left: 50px;
  text-align: center;
}
@media (max-width: 400px) {
  #hero {
    padding-top: 320px;
  }
}

#how-it-works {
  display: flex;
  justify-content: center;
}

#how-it-works iframe {
  width: 100%;
  max-width: 560px;
}

@media (max-width: 600px) {
  #hero {
    justify-content: center;
    text-align: center;
  }
}

#findOutMore {
  display: flex;
  padding-left: 10%;
  width: 100%;
}

@media (max-width: 600px) {
  #findOutMore {
    flex-direction: column;
  }
}

input {
  width: 100%;
  max-width: 200px;
  padding: 5px;
  margin: 10px;
}

#email {
  min-width: 150px;
  margin-top: 0px;
}

#submit {
  /* height: 20px; */
  width: 100px;
  background-color: lightskyblue;
  color: white;
}

.grid {
  display: flex;
  width: 80%;
  padding-left: 10%;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 15vw;
  padding-right: 20px;
  color: rgb(16, 61, 173);
  font-size: 3em;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 500px) {
  .desc {
    height: 200px;
  }
}

/* groups */
#groups {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 500px) {
  #groups {
    flex-direction: column;
    padding-right: 20px;
  }
}

#south-ealing,
#ealing-broadway,
#ealing-common {
  border: 1px solid rgb(216, 60, 12);
  margin: 10px;
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (max-width: 500px) {
  #south-ealing,
  #ealing-broadway,
  #ealing-common {
    width: 100%;
  }
}

.city {
  background-color: lightskyblue;
  width: 100%;
  text-transform: uppercase;
  padding: 15px 0;
  font-weight: 700;
}
